{%- comment -%}
Botão VIP para Header - Versão compacta para navegação
Mantém a funcionalidade do botão original mas adaptado para header
{%- endcomment -%}

{%- liquid
assign vip_button_text = settings.vip_button_text | default: 'Grupo VIP'
assign vip_button_description = settings.vip_button_description | default: 'Receba ofertas exclusivas, descontos especiais e seja o primeiro a saber sobre novos produtos!'
assign vip_email_placeholder = settings.vip_email_placeholder | default: 'Digite seu melhor e-mail'
assign vip_submit_button_text = settings.vip_submit_button_text | default: 'Quero fazer parte'
assign vip_success_message = settings.vip_success_message | default: 'Obrigado! Você será redirecionado para o WhatsApp'
assign vip_whatsapp_number = settings.vip_whatsapp_number | default: '5534999999999'
-%}
-%}

<li class="menu-lv-item menu-lv-1 text-left vip-header-item">
  <div class="vip-button-header-wrapper" data-product-id="header" data-product-name="Header VIP">
    <!-- Botão Principal VIP Header (abre modal global) -->
    <button type="button" class="vip-button vip-button-header" id="vip-button-header-trigger" aria-label="Grupo VIP">
      <svg class="vip-icon-header" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 2L15.09 8.26L22 9L17 14L18.18 21L12 17.77L5.82 21L7 14L2 9L8.91 8.26L12 2Z" fill="currentColor" />
      </svg>
      <span class="vip-button-header-text">Grupo VIP</span>
    </button>
  </div>
</li>